<div class="d-flex flex-column mt-5">
    <div class="p-2 align-self-center w-50">
        <div style="display: block">
            <canvas baseChart
                     [datasets]="barChartData" 
                     [labels]="barChartLabels"
                     [options]="barChartOptions"
                     [plugins]="barChartPlugins" 
                     [legend]="barChartLegend" 
                     [chartType]="barChartType">
            </canvas>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" 
                    (click)='randomize()'>Update</button>
        </div>
    </div>
</div>
